<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style_confirm.css">
    <title>Bem-vindo ao time.</title>
 </head>   
 <body>
    <div class="main-register"> 
        <div class="left-register">
            <h1>Parabéns, você acaba de entrar pro time!</h1>
            <img src="static/good-team.svg" alt="good-team">
         
        </div>
        <div class="right-register">
            <div class="card-register">
                <h3>Agora você estará por dentro de todas notícias do mundo 
                    da programação.</h3>
                </div>
            </div>   
        </div>      
    </div> 
 </body>
</html>




